
.imgSecure{
    margin-left: 23px;
    border-radius: 16px;
    width: 96px;
    height: 96px;

  }

  .contenido{
    width: 760px;
    height: 589px;
    background-color: lightblue;
  }

  .shadowed {
  opacity: 0.5;
  pointer-events: none;
  color:blue;
}

