<h1 style= "text-align: center;">{{title}}</h1>

<form>
  nombre: <input type="text" name="nombre" [(ngModel)]="nombre">
  <br>
  <br>
  apellido: <input type="text" name="apellido"  [(ngModel)]="apellido" >
  <br>
  <br>
  <input type="submit" value="Enviar" (click)="registro()">
</form>
<br>
<br>

<p *ngIf="condition; then verdad else falso"></p>

<ng-template #falso>
  <p>Nadie registrado</p>
</ng-template>

<ng-template #verdad>
  <p>usuario registrado con el {{nombre}} {{apellido}}</p>
</ng-template>

<br>
<br>

<ul>
  <li *ngFor="let entrada of entradas; index as i">

    <span style=" font-size: large; font-weight: bold;">
      {{i+1}}. {{entrada.titulo}}
    </span>
  </li>

</ul>
