<div *ngIf = "valorbol">
 soy valor negativo
 <h1>Angular - Parent child component data passing</h1>
 <h4>Parent Component</h4>

 <button class="btn btn-success" (click)="sendDataToParent()">Send to Parent</button>

</div>

<hr>
<hr>
<!-- <div *ngIf = "valorbol">hola es true </div> -->
<div *ngIf = "!valorbol">hola es true

<app-child  [inputFromParentb] = "inputbol" [inputFromParent] = "inputText" (outputFromChild) = "receiveChildData($event)" (outputFromChildB) = "receiveChildData2($event)"></app-child>

</div>
