<div class="imagenc">

  <p>imagen works!</p>

  <h4>nombre del usuario que viene de imagenes</h4>
  <h5>{{nombreHijo}}</h5>
  <h5>{{dataImagen.nombrUsuario }}</h5>
  <h6> {{dataImagen.url}} </h6>

    <div fxLayout="row" box-sizing = "content-box" >
      <img class = "imgSecure" src={{dataImagen.url}}>
    </div>
    <div fxLayout="row" box-sizing = "content-box" >
      <img class = "imgSecure" src = {{urlHijo}}>
    </div>

  <br>

  <button (click) = "cambiarNombre()">cambio en navbar el nombre</button>
</div>
